@import url(reset.css);

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing:border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* 달력 사이즈 */
.calendar {
    width: 600px;
    margin: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 왼쪽 상단 년/월 */
.year-month {
    font-size: 30px;
}

/* 오른쪽 상단 버튼 테두리 */
.nav {
    display: flex;
    /* border: 1px solid #ddd; */
    border-radius: 2px;
}

/* 오른쪽 상단(전월, 다음달)버튼 */
.nav button {
    width: 50px;
    height: 30px;
    border: none;
    font-size: 16px;
    line-height: 34px;
    background: transparent;
    cursor: pointer;
}

/* 오른쪽 상단(가운데 당월) 버튼 */
.btnToday {
    width: 75px;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
}

.days {
    display: flex;
    margin: 45px 0 10px;
}

/* 요일 정렬 */
.day {
    width: calc(100% / 7);
    text-align: center;
}

/* 날짜들 간격 */
.dates {
    display: flex;
    flex-flow: row wrap;
    height: 600px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    
}

/* 날짜 */
.date {
    width: calc(100% / 7);
    padding: 15px;
    text-align: right;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

/* 일요일 빨간색 */
.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
    color: #D13E3E;
}

/* 토요일 파랑색 */
.day:nth-child(7n),
.date:nth-child(7n) {
    color: #396EE2;
}

/* 해당월의 날짜가 아닌 경우 흐리게 */
.other {
    opacity: 0.2;
}

/* 당일 날짜 */
.today {
    position: relative;
    color: #FFFFFF; 
}

/* 당일 날짜 표시 박스 */
.today::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 30px;
    height: 30px;
    display: block;
    background-color: lightgray;
    content: '';
}



/* 디데이 */


/* 계산된 디데이 값이 나오기 전까지 안보이게 설정 */
.hidden {
    display: none;
}

/* D-Day 계산기 제목 */
.wrapper .dayCounter .title {
    background: red;
    font-size: 40px;
    text-align: center;
}

.wrapper .dayCounter #inputText {
    /* background: green; */
    display: block;
    width: 80%;
    height: 40px;
    position: relative; top: 50%; left: 50%; 
    transform: translate(-50%, -50%); 
    
}


/* 시작일 & 종료일 */
.wrapper .dayCounter #main {
    margin: 10px 0 30px;
    background: yellow;
    text-align: center;
}

/* Click 버튼 */
.wrapper .dayCounter #Enter {
    margin: 20px;
    background:red;
    width: 100px;
}

.wrapper .dayCounter #clock {
    text-align: center;
}

.wrapper .dayCounter span {
    font-size: 20px;
    font-weight: 700px;
    background: green;
    display: block;
    text-align: center;
}

.wrapper .dayCounter .writeDay {
    background: skyblue;
    width: 90%;
    height: 40px;
    display: block;
    margin: auto;
    
}













/* 합본 사이즈 조정 */
.wrapper .right-container {
    
}

.wrapper .right-container aside {
    width: 70%;
    height: 60%;
}
