@import url('reset.css');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing:border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* 스크롤바 css */
.section::-webkit-scrollbar {
    width: 10px;
}

.section::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.section::-webkit-scrollbar-thumb {
    background-color: #d4aa70;
    border-radius: 100px;
}

.section {
    scrollbar-color: #D4AA70 #e4e4e4;
}

.section::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
}

/* 스크롤바 css */

/* 전체레이아웃 */
body{
    display: flex;
}
.wrapper {
    width: 1500px;
    border: 1px solid #000;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    /* background-image: linear-gradient(180deg, #d0368b 0%, #708AD4 99%); */
}
 /* 전체레이아웃 */

/* 상단부 헤더 */
.wrapper header {
    /* border: 1px solid #000; */
    height: 50px;
    width: 50%;
}
/* 상단부 헤더 */

/* 상단부 제목 */
.wrapper header h1 {
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    margin-bottom: 15px;
}
/* 상단부 제목 */


.wrapper .list-add {
    display: flex;
    height: 50px;
    width: 50%;
}

.wrapper .list-add input {
    width: 90%;
    font-size: 15px;
    font-weight: 700;
    background: #FFF;
    border-radius: 15px;
}

input::-webkit-input-placeholder {
    font-size: 90%;
    text-align: center;
    font-size: 20px;
    line-height: 50;
    font-weight: 700;
}

/* 버튼 스타일 */
a.button {
    position: relative;
    float: left;
    width: 40px;
    height: 30px;
    padding: 0;
    margin: 0 10px 10px auto;
    font-weight: 50;
    text-align: center;
    line-height: 30px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s;
    font-size: 10px;
    text-decoration: none;
    font-weight: 700;
    /* border: 1px solid #000; */
}

/* 추가리스트 수정 삭제 버튼 */
a.button-inli {
    width: 30px;
    height: 20px;
    padding: 0;
    margin: 10px 10px 10px auto;
    font-weight: 50;
    text-align: center;
    line-height: 20px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s;
    font-size: 10px;
    text-decoration: none;
    font-weight: 700;
}
 /* 추가리스트 수정 삭제 버튼 */


.btnRed {
    background: rgb(255, 000, 051);
}

.btnRed.btnPush:hover {
    box-shadow: 0px 0px 0px 0px #8b0101;
}

.btnRed.btnPush {
    box-shadow: 0px 5px 0px 0px #8b0101;
}

.btnRed.btnBorder {
    box-shadow: 0px 0px 0px 0px #8b0101;
}

.btnRed.btnBorder:hover {
    box-shadow: 0px 0px 0px 5px #8b0101;
}

.btnPush:hover {
    margin-top: 15px;
    margin-bottom: 5px;
}

.btnBlueGreen.btnPush:hover {
    box-shadow: 0px 0px 0px 0px #007144;
}

.btnBlueGreen {
    background: #00AE68;
}

.btnBlueGreen.btnPush {
    box-shadow: 0px 5px 0px 0px #007144;
}

.btnBlueGreen.btnBorder {
    box-shadow: 0px 0px 0px 0px #21825B;
}

.btnBlueGreen.btnBorder:hover {
    box-shadow: 0px 0px 0px 5px #21825B;
}
/* 버튼 스타일 */





/* to do list css */
.wrapper main {
    display: flex;
    width: 48%;
}
.wrapper .right-container{
    display: flex;
    justify-content: space-between;
}

.wrapper main .to-do-list{
    border: 2px solid #ccc;
    background: rgb(153, 153, 255);
    width: 95%;
    text-align: center;
    border-radius: 15px;
    margin-top: 15px;
    padding: 10px;
    overflow: auto;
    height: 900px;
}

.wrapper main .to-do-list ul {
    overflow: auto;
} 
.wrapper .right-container main .to-do-list ul li{
    display: flex;
    background: rgb(255, 255, 133);
    margin-top: 5px;
    border-radius: 5px;
    word-break: break-all
}
.wrapper .right-container main .to-do-list ul li .list{
    height: 45px;
    width: 90%;
    /* border: 1px solid #000; */
    margin: 5px auto 5px;
    line-height: 40px;
    font-weight: 700;
    font-size: 15px;
    padding-left: 15px;
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    position: relative;
    /* justify-content: space-between; */
}
.wrapper .right-container main .to-do-list ul li input{
    width: 90%;
    line-height: 40px;
    margin: 0 auto;
}


/* .wrapper main .to-do-list ul .list{
    border: 1px solid #000;
    display: flex;
    height: 50px;
    line-height: 50px;
    width: 95%;
    margin: 0 auto;
} */
/* .wrapper main .to-do-list ul li{
    width: 95%;
    display: flex;
} */

.wrapper .right-container aside{
    border: 1px solid #000;
    border-radius: 15px;
    width: 45%;
    margin-left: 15px;
    margin-top: 15px;
    float: right;
    height: 700px;
}

.wrapper footer{
    border: 1px solid #000;
    height: 30px;
    margin-top: 15px;
    width: 50%;
}




@import url(reset.css);


/* 달력 사이즈 */
.wrapper .right-container aside .calendar{
    width: 600px;
    margin: 20px auto 30px;
    height: 50%;
}
.wrapper .right-container aside .calendar .header{
    display: flex;
    justify-content: space-between;
}

/* 왼쪽 상단 년/월 */
.year-month {
    font-size: 30px;
}

/* 오른쪽 상단 버튼 테두리 */
.nav {
    display: flex;
    /* border: 1px solid #ddd; */
    border-radius: 2px;
}

/* 오른쪽 상단(전월, 다음달)버튼 */
.nav button {
    width: 50px;
    height: 30px;
    border: none;
    font-size: 16px;
    line-height: 34px;
    background: transparent;
    cursor: pointer;
}

/* 오른쪽 상단(가운데 당월) 버튼 */
.btnToday {
    width: 75px;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
}

.days {
    display: flex;
    margin: 45px 0 10px;
}

/* 요일 정렬 */
.day {
    width: calc(100% / 7);
    text-align: center;
}

/* 날짜들 간격 */
.dates {
    display: flex;
    flex-flow: row wrap;
    height: 600px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    
}

/* 날짜 */
.date {
    width: calc(100% / 7);
    padding: 15px;
    text-align: right;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

/* 일요일 빨간색  설정 */
.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
    color: #D13E3E;
}

/* 토요일 파랑색 설정 */
.day:nth-child(7n),
.date:nth-child(7n) {
    color: #396EE2;
}

/* 해당월의 날짜가 아닌 경우 흐리게 */
.other {
    opacity: 0.2;
}

/* 당일 날짜 */
.today {
    position: relative;
    color: #FFFFFF; 
}

/* 당일 날짜 표시 박스 */
.today::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 30px;
    height: 30px;
    display: block;
    background-color: lightgray;
    content: '';
}



/* 디데이 */


/* 계산된 디데이 값이 나오기 전까지 안보이게 설정 */
.wrapper .dayCounter{
    height: 20%;
}
.wrapper .dayCounter .hidden {
    display: none;
}


/* D-Day 계산기 제목 */
.wrapper .dayCounter .title {
    /* background: red; */
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.wrapper .dayCounter #inputText {
    /* background: green; */
    display: block;
    width: 80%;
    height: 40px;
    position: relative; top: 50%; left: 50%; 
    transform: translate(-50%, -50%); 
}

/* 시작일 & 종료일 */
.wrapper .dayCounter #main {
    margin: 10px 0 30px;
    /* background: yellow; */
    text-align: center;
}

/* Click 버튼 */
.wrapper .dayCounter #Enter{
    margin: 20px;
    width: 100px;
}

.wrapper .dayCounter #clock {
    text-align: center;
}

.wrapper .dayCounter span {
    font-size: 20px;
    font-weight: 700px;
    /* background: green; */
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.wrapper .right-container aside {
    width: 70%;
    height: 60%;
}
